<template>
<modal
  class="home-modal"
  transition="pop-in"
  :adaptive="true"
  name="home-modal"
  scrollable
  height="auto"
  width="90%"
  :max-width="1120"
>
  <HomeModalContent />
</modal>
</template>

<script>
import HomeModalContent from '@/components/home/modal/HomeModalContent'

export default {
  components: {
    HomeModalContent
  }
}
</script>

<style lang="scss" scoped>
</style>
