<template>
<div class="home-modal-content modal-content">

  <div class="modal-content__block">
    <h3 class="modal-content__title">Bruksareal</h3>

    <HomeSearchInputMeters
      class="modal-content__meters"
      type="number"
      min="0"
      step="1"
      placeholder="Bruksareal"
      @input="value => homesize = parseInt(value) > 0 ? parseInt(value) : 0"
    />
  </div>

  <div class="modal-content__block">
    <h3 class="modal-content__title">Har du følgende? <span style="font-weight:normal;"> <br>Avhengig av datatilgjengelighet, vil informasjonen<br>muligvis bli brukt til å gi deg et mere treffsikkert estimat. </span> </h3>

    <div class="modal-content__list">
      <HomeModalCard
        v-for="card in main"
        :card="card"
        :key="card.key"
        @click="handleClick"
      />
    </div>
  </div>

  <div class="modal-content__block">
    <h3
      class="modal-content__title"
      v-if="width > 667"
      v-html="getTitle"
    />

    <h3
      class="modal-content__title"
      v-else
    >{{ getTitle }}</h3>

    <div class="modal-content__list">
      <HomeModalCard
        v-for="card in secondary"
        :card="card"
        :key="card.key"
        @click="handleClick"
      />
    </div>
  </div>

  <AppButton
    :disabled="!isValid"
    @click="$store.dispatch('search/getValueProposition')"
    class="modal-content__button"
    text="Søk"
  />

</div>
</template>

<script>
import * as types from '@/store/mutation-types'

import AppButton from '@/components/app/AppButton'
import HomeModalCard from '@/components/home/modal/HomeModalCard'
import HomeSearchInputMeters from '@/components/home/search/HomeSearchInputMeters'

export default {
  components: {
    AppButton,
    HomeModalCard,
    HomeSearchInputMeters
  },

  data() {
    return {

      width: 0,

      slider: 0,
      max: 500,
      interval: 100,

      main: [{
          image: '/Sell_additional/Garage icon.svg',
          text: 'Parkering/garasje',
          key: 'garage',
          active: this.$store.state.search.garage

        },
        {
          image: '/Sell_additional/Balcony icon.svg',
          text: 'Balkong/terasse',
          key: 'balcony',
          active: this.$store.state.search.balcony
        },
      ],

      secondary: [{
          image: '/Sell_additional/bathroom icon.svg',
          text: 'Bad/toalett',
          key: 'bathroom',
          active: this.$store.state.search.bathroom
        },
        {
          image: '/Sell_additional/kitchen icon.svg',
          text: 'Kjøkken',
          key: 'kitchen',
          active: this.$store.state.search.kitchen
        },
      ]

    }
  },

  computed: {
    getTitle() {
      const str =
        'Har du opppusset følgende siden du kjøpte din bolig? <span style="font-weight:normal;"> <br>Effekten av opppussing er vanligvis merkbar men avhenger blandt annet av boligtype og lokalitet. Velg nedenfor for et mere treffsikkert estimat. </span>'
      if (this.width > 667) return str
      else return str.replace(/<br>/g, ' ')
    },

    homesize: {
      get() { return this.$store.state.search.homesize },
      set(value) {
        this.$store.commit(`search/${types.SAVE_SEARCH_KEY}`, { key: 'homesize', value })
      }
    },

    isValid() {
      return !!this.homesize
    }
  },

  created() {
    if (process.client) {
      this.window = window
      window.addEventListener('resize', this.handleResize)
      this.handleResize()
    }
  },

  destroyed() {
    this.window.removeEventListener('resize', this.handleResize)
  },

  methods: {
    handleResize() {
      this.width = this.window.innerWidth
    },

    handleClick({ card, active }) {
      this.$store.commit(`search/${types.SAVE_SEARCH_KEY}`, { key: card.key, value: active })
    }
  }
}
</script>

<style lang="scss" scoped>
.home-modal-content {
    padding: 3.75rem 7.5rem;

    display: flex;
    flex-direction: column;
    align-items: center;

    background: $color-light;

    border-radius: 4px;

    @include for-tablet {
        padding: 4rem 2rem;
    }

    @include for-phone {
        padding: 2rem 1rem;
    }

    @media (max-width: 500px) {
        border-radius: 0;
    }

    .modal-content {

        &__block {
            width: 100%;

            margin-bottom: 4rem;
        }

        &__title {
            margin-bottom: 2rem;

            text-align: center;
        }

        &__list {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: center;

            @include for-phone {
                align-items: center;
                flex-direction: column;
            }
        }

    }
}
</style>
