<template>
<div class="pricing-methods">

    <div
    class="pricing-methods__content"
    v-for="(n, index) in 2"
    :key="index"
    >
    <h2 class="pricing-methods__title" v-if="n === 1">Prisestimater</h2>
    <h2 class="pricing-methods__title" v-if="n === 2">Meglerestimater</h2>


    <div
    class="pricing-methods__paragraph"
    v-for="(q, index) in 2"
    :key="index"
    >
    <template v-if="q === 1 && n == 1"><span>{{ estimat_first }}</span></template>
    <template v-if="q === 2 && n == 1"><span>{{ estimat_second }}</span></template>

    <template v-if="q === 1 && n == 2"><span>{{ megler_first }}</span></template>
    <template v-if="q === 2 && n == 2"><span>{{ megler_second }}</span></template>

    </div>
  </div>

</div>
</template>

<script>
export default {
  data: () => ({
    estimat_first: 'Boligprisestimatene våre blir til via kunstig intelligens, hvor vi anvender en kombinasjon av ulike maskinlæringsalgoritmer, flere hundre variabler samt mange millioner datapunkter. Vi anvender primært data fra offentlige kilder. Det kan være “vanlige” variabler som boligens beliggenhet, størrelse, historiske omsetninger, antall rom, etasje samt “avanserte” variabler som for eksempel 3D laserskanninger fra fly til å modellere utsikten. Dette fordi vi vet at bra utsikt er korrelert med høyere markedspris. Vi ønsker å øke treffsikkerheten på våre prisestimater så vi jobber kontinuerlig med utviklingen av våre algoritmer og med innsamling og foredling av data til modellene.',
    estimat_second: 'På tross av at vi er kommet langt med våre prisestimater, er disse fremdeles estimater. Det vil derfor alltid være en feilmargin knyttet til disse og det endelige svaret på boligverdien oppnås først ved fritt salg. Det er derfor lurt å forhøre seg med fagpersoner slik som eiendomsmeglere eller takstpersoner slik at du har flere kilder til å vurdere verdien på din bolig.',
    megler_first: 'Akkurat som ved prisestimatene bruker vi kunstig intelligens til å vurdere meglernes evne til boligsalg. Vi har registrert hvilke boliger meglerne har solgt og kan derfor bruke dette i vårt datagrunnlag ved sammenligning. Det er selvfølgelig en feilmargin tilknyttet estimatet, men vi ser i dataene at noen meglere har vært flinke til å få høye markedspriser sammenlignet med andre.',
    megler_second: 'Men betyr dette at vi bare bruker gjennomsnittlig kvadratmeterpris som meglerne har oppnådd når vi sammenligner de? Nei da. Modellene korrigerer automatisk for effekten av andre variabler som påvirker boligprisen slik at effekten av hvilken eiendomsmegler som selger isoleres. Det blir derfor mulig å sammenligne to megleres prestasjoner på to ulike salg fordi vi korrigerer for effekten av forskjellen i boligene. Vi bruker også kryssvalidering (https://en.wikipedia.org/wiki/Cross-validation_(statistics)) for å sikre at våre estimater er representative og generaliserbare, slik at estimatene du får levert har verdi.'
  })
}
</script>



<style lang="scss" scoped>
.pricing-methods {
    min-height: $breakpoint-phone;
    padding: 0 1.5rem 4rem;

    display: flex;
    align-items: center;
    justify-content: center;

    background: $color-light;

    @media (max-width: 800px) {
        flex-direction: column;
    }

    @include for-phone {
        padding-bottom: 2rem;
    }

    @include for-small-phone {
        padding: 0;
    }

    &__title {
        margin-bottom: 2rem;

        text-align: center;
    }

    &__content {
        height: 100%;
        max-width: 788px;

        padding: 4rem 8rem;
        margin-top: -15rem;

        @include for-desktop {
            // margin-top: -12rem;
        }

        @include for-laptop {
            margin-top: -12rem;
        }

        @include for-tablet {
            margin-top: -8rem;
        }

        &:first-child {
            margin-left: 1rem;
            margin-right: 0.5rem;

            @media (max-width: 800px) {
                margin: -8rem 0 2rem;
            }

            @include for-small-phone {
                margin: -6rem 0 2rem;
            }
        }

        &:last-child {
            margin-left: 0.5rem;
            margin-right: 1rem;

            @media (max-width: 800px) {
                margin: 0;
            }
        }

        background: $color-light;

        border-radius: 4px;
        box-shadow: $shadow;

        z-index: 1;

        @include for-laptop {
            padding: 4rem;
        }

        @include for-tablet {
            padding: 4rem 2rem;
        }

        @include for-phone {
            padding: 4rem 2rem;
        }

        @include for-small-phone {
            width: 100%;

            padding: 2rem 1rem;

            box-shadow: none;
        }
    }

    &__paragraph {
        text-align: justify;

        margin-bottom: 1.5rem;

        font: $font-body;
        line-height: 1.75rem;
    }
    &__paragraph2 {
        text-align: justify;

        margin-bottom: 1.5rem;

        font: $font-body;
        line-height: 1.75rem;
    }
}
</style>
