<template>
<section class="pricing-accordion">

  <h2>Ofte stilte spørsmål</h2>

  <ul class="pricing-accordion__list">
    <li
      class="pricing-accordion__item"
      v-for="(item, index) in faq"
      :key="index"
    >
      <div
        class="pricing-accordion__title"
        @click="trigger(index)"
      >
        <span>{{ item.title }}</span>

        <img
          v-if="active === index"
          src="/icons/Icon - Subtract - Filled.svg"
        >
        <img
          v-else
          src="/icons/Icon - Add - Filled.svg"
        >
      </div>

      <div
        :id="`pricing-accordion-text-${index}`"
        class="pricing-accordion__text"
      >
        <span>{{ item.text }}</span>
      </div>
    </li>
  </ul>

</section>
</template>

<script>
export default {
  data: () => ({

    active: 0,
    elements: [],

    faq: [
      { title: 'Har meglerne samme insentiv som boligselger?', text: 'Slik markedet er nå, kan det bedre lønne seg for en megler å selge flere boliger enn å bruke mer tid og energi på å selge din bolig til høyest mulig pris. Et par hundre tusen ekstra ved salg har stor betydning for din økonomi, men påvirker ikke meglerens provisjon nevneverdig. Det kan bety at du risikerer en lavere sluttpris enn det din bolig er verdt. Vi vil gjerne nevne her, at det er markedet som er problemet, ikke meglerne. Når man bruker HomeFair, blir det skapt et insentiv for at meglerne gir det lille ekstra som skal til, for å få høyest mulig markedspris. Dette fordi det vil avspeile seg i våre meglerestimater. Gjør de en bra jobb, vil de i fremtiden få flere oppdrag via vår tjeneste. Slik skal det være, litt mer fair.' },
      { title: 'Hvorfor bør jeg betale for produktet når jeg kan innhente tilbud gratis og uforpliktende?', text: 'Hjemmesider som tilbyr kontaktformidling til eiendomsmeglere tjener vanligvis mellom 250 kr og 400 kr per megler som får din kontaktinformasjon. Velger du en slik løsning vil du derfor ikke være kunden for kontaktformidleren; du er produktet de selger til eiendomsmeglerne. Dessuten kunne det tenkes at de meglerne som er ledige der og da, kanskje ikke er de beste på markedet? Vi mener at du ikke bør ta den risikoen, spesielt med tanke på at vårt produkt koster veldig lite sammenlignet med den mulige gevinsten.' },
      { title: 'Hvorfor ikke bare bruke anmeldelser av eiendomsmeglere som metode for å finne beste megler?', text: 'Å bruke anmeldelser er i utgangspunktet bra, men når nesten alle meglerne har fått topp-karakterer, er det enormt vanskelig å vurdere forskjellen på dem. Vi tilbyr markedets beste og eneste reelle metode for sammenligning av eiendomsmeglere.' },
      { title: 'Er det ikke slik at de beste meglerne er de som selger flest boliger?', text: 'De som selger flest boliger vil være de «beste» for eiendomsmeglerhusene fordi de skaper høyest omsetning. Det betyr dermed ikke at de vil kunne få høyeste markedspris for din bolig. Ofte kan dette faktisk bety at de omsetter boligen til lavere sluttpris fordi de ikke har samme insentiv som boligselger.' },
      { title: 'Hvorfor får jeg ikke listen med alle meglerne, men kun de fem beste?', text: 'Vi ønsker ikke å utstille meglere som ikke kommer godt ut i våre prediksjoner, da det først om fremst ikke er veldig hyggelig, men også fordi meglerne likevel ikke er aktuelle kandidater for å selge din bolig. Ingen er tjent med at denne informasjonen blir gjort tilgjengelig.' },
      { title: 'Hvorfor er mitt estimat for høyt/lavt?', text: 'Det kan være flere årsaker til at estimatet er for høyt/lavt. Er din bolig usedvanlig sammenlignet med andre boliger i samme område, vil prisestimering ofte være vanskeligere da sammenligningsgrunnlaget vil være lite. Usedvanlige trekk kunne for eksempel være en stor takterrasse, gode/dårlige lysforhold eller andre positive/negative kvaliteter som trekker opp/ned verdien på boligen. En annen årsak er at det kan forekomme feil i datagrunnlaget vårt. Vi bruker ulike offentlige registre til vår data og feil i disse forekommer. En tredje årsak er at det kan skje ting i markedet som påvirker prisen fortere enn modellene klarer å fange opp endringene. Alle årsaker medvirker til at vi mener det er lurt å forhøre seg med fagpersoner ved verdivurdering.' }, 
    ]

  }),

  mounted() {
    this.elements = document.getElementsByClassName('pricing-accordion__text')
    this.open(this.elements[0])
  },

  methods: {
    trigger(index) {

      this.active = index
      const element = this.elements[index]

      _.forEach(this.elements, el => this.close(el))

      if (element.style.maxHeight) this.close(element)
      else this.open(element)

    },

    open(el) {
      el.style.maxHeight = el.scrollHeight + 'px'
      el.style.marginBottom = '1rem'
    },

    close(el) {
      el.style.maxHeight = null
      el.style.marginBottom = null
    }
  },
}
</script>

<style lang="scss" scoped>
.pricing-accordion {
    width: 100%;

    padding: 8rem 2rem 10rem;

    display: flex;
    align-items: center;
    flex-direction: column;

    background: $color-body;

    @include for-small-phone {
        padding: 8rem 1rem;
    }

    &__list {
        max-width: 768px;

        margin-top: 5rem;
    }

    &__item {
        border-bottom: 1px solid $color-primary;
    }

    &__text,
    &__title {
        font: $font-body;
        line-height: 1.75rem;
    }

    &__title {
        padding: 1rem 0;

        display: flex;
        align-items: flex-start;
        justify-content: space-between;

        font-weight: bold;

        cursor: pointer;

        span {
            padding-right: 1rem;
        }
    }

    &__text {
        max-height: 0;

        overflow: hidden;
        transition: max-height 0.2s ease-out;
    }
}
</style>
