<template>
<section class="home-pricing">

  <h2 class="home-pricing__title">Pricing</h2>

  <div class="home-pricing__subtitle">
    <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the <br> industry’s standard dummy text ever since the 1500s</span>
  </div>

  <AppButton text="Learn more" />

</section>
</template>

<script>
import AppButton from '@/components/app/AppButton'

export default {
  components: {
    AppButton
  }
}
</script>

<style lang="scss" scoped>
.home-pricing {
    min-height: 580px;
    width: 100%;

    padding: 0 2rem;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    text-align: center;
    color: $color-light;

    background: $color-dark url('/background/pricing.jpg');
    background-size: cover;
    background-position: 50% 50%;

    @include for-small-phone {
        padding: 0 1rem;
    }

    &__title {
        margin-bottom: 1rem;
    }

    &__subtitle {
        margin-bottom: 2.5rem;

        font: $font-body;
        font-family: 'Roboto', sans-serif;
        line-height: 1.75rem;

        @include for-tablet {
            br {
                display: none;
            }
        }
    }
}
</style>
