<template>
<section class="home-feedback">

  <h2 class="home-feedback__title">Nyhetsbrev</h2>

  <div class="home-feedback__subtitle">
    <span>Meld deg på vårt nyhetsbrev og bli informert når vi lanserer nye tjenester<br>eller lanserer våre tjenester i nye områder.</span>
  </div>
  
  <AppInput
    class="home-feedback__input"
    type="email"
    placeholder="E-post ..."
    v-model="email"
    :invalid="$v.email.$error"
    @blur="$v.email.$touch()"
  >

    <div
      v-if="$v.email.$error"
      class="home-feedback__errors"
    >
      <small v-if="!$v.email.required">E-postfeltet er påkrevd.</small>

      <small v-else-if="!$v.email.email">Ugyldig e-postadresse</small>
    </div>

  </AppInput>
  
  <AppButton
    text="Abonner"
    @click="submitForm"
    :disabled="$v.email.$invalid"
  />

</section>
</template>

<script>
import { required, minLength, maxLength, email} from 'vuelidate/lib/validators'

import AppInput from '@/components/app/AppInput'
import AppButton from '@/components/app/AppButton'

export default {
  components: {
    AppInput,
    AppButton
  },
  
  data: () => ({
    email: null
  }),
  
  validations: {
    email: {
      required,
      email
    }
  },
  
  methods: {
    submitForm() {
      this.$v.email.$touch()
      if (!this.$v.email.$invalid) this.$store.dispatch('search/subscribe', this.email)
    }
  }
}
</script>

<style lang="scss" scoped>
.home-feedback {
    min-height: 546px;
    width: 100%;

    padding: 0 2rem;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    text-align: center;
    color: $color-light;

    background: $color-dark url('/background/keep_in_touch.jpg');
    background-size: cover;
    background-position: 50% 50%;

    @include for-small-phone {
        padding: 0 1rem;
    }

    &__title {
        margin-bottom: 1rem;
    }

    &__subtitle {
        margin-bottom: 2.5rem;

        font-size: 1.5rem;
        font-family: 'Roboto', sans-serif;
        line-height: 1.75rem;
        letter-spacing: 1px;

        @include for-phone {
            font-size: 1.25rem;
            line-height: 1.5rem;
        }
    }

    &__input {
        width: 100%;
        max-width: 536px;

        margin-bottom: 2.5rem;
    }
}
</style>
