@import './mixins.scss';
@import './vars.scss';

html {
  font-family: "Roboto", sans-serif;
  color: $color-dark;
}

pre {
  padding: .25rem;

  background: white;
}

* {
  &:focus {
    outline: 0;
  }
}

ol,
ul {
  list-style: none;
}

h1,
h2,
h3 {
  font-family: "PT Serif", serif;
  font-weight: normal;
}

h1 {
  font-size: 3.75rem;
  line-height: 4.875rem;

  @include for-tablet {
    font-size: 3.5rem;
    line-height: 4.5rem;
  }

  @include for-phone {
    font-size: 2.5rem;
    line-height: 3.5rem;
  }
}

h2 {
  font-size: 2.625rem;
  line-height: 3.4375rem;

  @include for-tablet {
    font-size: 2.25rem;
    line-height: 3rem;
  }

  @include for-phone {
    font-size: 2rem;
    line-height: 2.5rem;
  }

  @include for-small-phone {
    font-size: 1.75rem;
    line-height: 2rem;
  }
}

h3 {
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 1.9375rem;

  @include for-tablet {
    font-size: 1.25rem;
    line-height: 1.5rem;
  }
}

.container {
  max-width: $breakpoint-big-desktop;
  margin: 0 auto;
}

.v--modal {
  left: 0 !important;
  margin: auto !important;

  border-radius: 4px;
  background: transparent;

  box-shadow: $shadow;
}

.v--modal-overlay {
  background: rgba(31, 31, 31, .5);
}
