@import './animations.scss';

@mixin for-small-phone {
  @media (max-width: 375px) { @content; }
}
@mixin for-phone {
  @media (max-width: 667px) { @content; }
}
@mixin for-tablet {
  @media (max-width: 1024px) { @content; }
}
@mixin for-laptop {
  @media (max-width: 1440px) { @content; }
}
@mixin for-desktop {
  @media (max-width: 1680px) { @content; }
}
@mixin for-big-desktop {
  @media (max-width: 1920px) { @content; }
}
@mixin for-large-desktop {
  @media (min-width: 1921px) { @content; }
}

@mixin animate-rotate($seconds: 2s) {
  animation: spin $seconds linear infinite;
}
