<template>
<input
  class="app-input"
  :type="type"
  :placeholder="placeholder"
  v-model="value"
  @input="$emit('input', value)"
>
</template>

<script>
export default {
  props: {
    type: {
      type: String,
      default: 'text'
    },

    placeholder: {
      type: String,
      default: 'Skriv noe her...'
    }
  },

  data: () => ({
    value: null
  })
}
</script>

<style lang="scss" scoped>
.app-input {
    height: 56px;

    padding: 1.125rem 1rem;

    font: $font-body;
    font-family: 'Roboto', sans-serif;
    line-height: 1.75rem;

    background: $color-light;

    border: 0;
    border-radius: 4px;

    &::placeholder {
        font-weight: normal;
        color: $color-secondary;
    }

}
</style>
