<template>
<button
  @click="click"
  v-ripple="'#7E8BFF'"
  :class="['app-button', { 'app-button--disabled': disabled }]"
  :disabled="disabled || loading"
>
  <div
    v-if="loading"
    class="app-button__icon"
  >
    <icon icon="spinner" />
  </div>

  <span
    v-else
    class="app-button__text"
  >{{ text }}</span>
</button>
</template>

<script>
export default {
  props: {
    text: {
      type: String,
      required: true
    },

    to: {
      type: [Object, String],
      default: null
    },

    disabled: {
      type: Boolean,
      default: false
    },

    loading: {
      type: Boolean,
      default: false
    }
  },

  methods: {
    click() {

      if (this.to) this.$router.push(this.to)
      else this.$emit('click')

    }
  }
}
</script>

<style lang="scss" scoped>
.app-button {
    height: 56px;
    width: 252px;

    display: flex;
    align-content: center;
    justify-content: center;

    color: $color-light;
    text-align: center;
    font: $font-button;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;

    background: $color-primary;

    border: 0;
    border-radius: 4px;

    cursor: pointer;

    transition: 0.2s;

    &--disabled {
        background: $color-primary-2;
    }

    &__text {
        z-index: 2;
    }

    &__icon {
        font-size: 1rem;

        @include animate-rotate;
    }
}
</style>
