<template>
<footer class="app-footer">

  <div class="app-footer__content">
    <div class="app-footer__contacts">
      <img
        class="app-footer__logo"
        src="/logo/HomeFair-logo-white- h.png"
      >

      <span class="app-footer__email">kontakt@homefair.no</span>

      <span>org. nr. 922 687 331</span>
    </div>

    <div class="app-footer__links">
      <nuxt-link
        class="app-footer__link"
        v-for="(link, index) in links"
        :to="link.to"
        :key="index"
      >{{ link.text }}</nuxt-link>
    </div>
  </div>

</footer>
</template>

<script>
export default {
  data: () => ({

    links: [
      { to: { path: '/' }, text: 'Selg' },
      // { to: { name: 'buy' }, text: 'Buy' },
      { to: { name: 'pricing' }, text: 'Prisestimater' },
      { to: { name: 'about' }, text: 'Om oss' }
    ]

  })
}
</script>

<style lang="scss" scoped>
.app-footer {
    background: $color-dark;

    display: flex;
    justify-content: center;

    &__content {
        width: 100%;
        max-width: $breakpoint-desktop;

        padding: 0 2rem;

        display: flex;
        align-items: center;
        justify-content: space-between;

        color: $color-light;

        @include for-tablet {
            padding: 1rem 2rem 2rem;

            flex-direction: column;
            justify-content: center;
        }
    }

    &__logo {
        height: 78px;
        width: 252px;

        margin: 0.875rem 1rem 1.5rem 0;

        @include for-tablet {
            margin: 0 0 1rem;
        }
    }

    &__contacts {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include for-tablet {
            flex-direction: column;
            justify-content: center;

            margin-bottom: 2rem;
        }
    }

    &__email {
        margin-right: 2rem;

        @include for-tablet {
            margin: 0;
        }
    }

    &__link {
        padding: 19px 0;
        margin-right: 2rem;

        font: $font-button;
        color: $color-light;
        text-decoration: none;
        text-transform: uppercase;

        &:hover {
            text-decoration: underline;
        }

        @include for-tablet {
            margin: 0;

            &:not(:last-child) {
                margin-right: 2rem;
            }
        }
    }
}
</style>
