<template>
<div :class="['app-input', { 'app-input--bordered': bordered }, { 'app-input--invalid': invalid }]">

  <div class="app-input__content">

    <div
      v-if="bordered"
      class="app-input__label"
    >
      <span>{{ label }}</span>
      <span v-if="required"> *</span>
    </div>

    <input
      v-if="type !== 'textarea'"
      class="app-input__inner"
      :type="type"
      :placeholder="placeholder"
      @input="$emit('input', value)"
      @blur="$emit('blur')"
      v-model="value"
    >

    <textarea
      v-else
      class="app-input__inner app-input__inner--textarea"
      :placeholder="placeholder"
      @input="$emit('input', value)"
      @blur="$emit('blur')"
      v-model="value"
    ></textarea>

    <div class="app-input__errors">
      <slot />
    </div>

  </div>

</div>
</template>

<script>
export default {
  props: {
    type: {
      type: String,
      default: 'text'
    },

    placeholder: {
      type: String,
      default: 'Input ...'
    },

    label: {
      type: String,
      default: ''
    },

    required: {
      type: Boolean,
      default: false
    },

    invalid: {
      type: Boolean,
      default: false
    },

    bordered: {
      type: Boolean,
      default: false
    }
  },

  data: () => ({
    value: ''
  })
}
</script>

<style lang="scss" scoped>
.app-input {

    &--bordered {
        .app-input {
            &__inner {
                border: 2px solid $color-primary;
            }
        }
    }

    &__content {
        position: relative;
    }

    &__label {
        position: absolute;
        top: 0;
        left: 0.5rem;

        padding: 0.25rem 0.5rem;

        color: $color-primary;
        font-size: 0.75rem;

        background: $color-light;

        transition: 0.2s;
        transform: translateY(-50%);
    }

    &__inner {
        height: 56px;
        width: 100%;

        padding: 1.125rem 1rem;

        font: $font-body;
        font-family: 'Roboto', sans-serif;
        line-height: 1.75rem;

        background: $color-light;

        border-radius: 4px;
        border: 2px solid transparent;

        transition: 0.2s;

        &::placeholder {
            font-weight: normal;
            color: $color-secondary;
        }

        &--textarea {
            min-height: 200px;
            width: 100%;
            max-width: 100%;
            min-width: 100%;
        }
    }

    &__errors {
        text-align: left;
        line-height: 1rem;
        color: $color-danger;
    }

    &--invalid {

        .app-input {
            &__label {
                color: $color-danger;
            }

            &__inner {
                border-color: $color-danger;
            }

        }
    }
}
</style>
