<template>
<transition name="fade">
  <div
    class="AppLoading"
    v-if="loading"
  >
    <div class="AppLoading__header">
      <img
        class="AppLoading__logo"
        src="/logo/HomeFair-logo-white- h.png"
      >
    </div>

    <icon
      class="AppLoading__icon"
      icon="spinner"
    />
  </div>
</transition>
</template>

<script>
export default {
  props: {
    loading: {
      type: Boolean,
      default: false
    }
  }
}
</script>

<style lang="scss" scoped>
.AppLoading {
    position: fixed;
    top: 0;
    left: 0;

    height: 100%;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    background-color: rgba(0, 0, 0, .8);

    z-index: 9999;

    &__title {
        margin-bottom: 1rem;
    }

    &__icon {
        color: $color-light;
        font-size: 2rem;

        @include animate-rotate;
    }
}
</style>
