<template>
<transition name="pop-in">
  <div
    class="app-modal"
    v-if="show"
    @click.self="$emit('close')"
  >

    <div
      class="app-modal__content"
      :style="contentStyle"
    >

      <slot />

      <icon
        class="app-modal__close"
        icon="times"
        @click="$emit('close')"
      />

    </div>

  </div>
</transition>
</template>

<script>
export default {
  props: {
    contentStyle: {
      type: String,
      default: ''
    },

    show: {
      type: Boolean,
      default: false
    }
  },

  watch: {
    show(value) {
      if (value) this.showModal()
      else this.destroyModal()
    }
  },

  computed: {
    getScrollbarWidth() {

      // Creating invisible container
      const outer = document.createElement('div');
      outer.style.visibility = 'hidden';
      outer.style.overflow = 'scroll'; // forcing scrollbar to appear
      outer.style.msOverflowStyle = 'scrollbar'; // needed for WinJS apps
      document.body.appendChild(outer);

      // Creating inner element and placing it in the container
      const inner = document.createElement('div');
      outer.appendChild(inner);

      // Calculating difference between container's full width and the child width
      const scrollbarWidth = (outer.offsetWidth - inner.offsetWidth);

      // Removing temporary elements from the DOM
      outer.parentNode.removeChild(outer);

      return scrollbarWidth;

    }
  },

  beforeDestroy() {
    this.destroyModal()
  },

  methods: {
    showModal() {
      document.documentElement.style.overflow = 'hidden'
      document.documentElement.style.paddingRight = `${this.getScrollbarWidth}px`
      document.getElementById('app-header').style.paddingRight = `${24 + this.getScrollbarWidth}px`
    },

    destroyModal() {
      setTimeout(() => {
        document.documentElement.style.overflow = 'auto'
        document.documentElement.style.paddingRight = 0
        document.getElementById('app-header').style.paddingRight = '1.5rem'
      }, 500)
    }
  }
}
</script>

<style lang="scss" scoped>
.app-modal {
    padding: 1rem;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-height: 100%;

    display: flex;
    justify-content: center;

    background-color: rgba(0, 0, 0, .5);

    z-index: 5;
    overflow-y: scroll;

    @media (max-width: 500px) {
        padding: 0;
    }

    &__content {
        position: relative;

        width: 100%;

        margin: auto;
    }

    &__close {
        position: absolute;
        right: 0;
        top: 0;

        height: 24px;
        width: 24px;

        margin: 1rem;

        font-size: 1.5rem;
        color: $color-primary;

        cursor: pointer;
        transition: 0.2s;

        &:hover {
            color: $color-primary-1;
        }

    }

}
</style>
