<template>
<select class="home-search-selector">
  <option
    v-for="(option, index) in options"
    :key="index"
    v-html="option"
  />
</select>
</template>

<script>
export default {

  data: () => ({
    options: [
      'Sq m &sup2;',
      // 'Untitled'
    ]
  })

}
</script>

<style lang="scss" scoped>
.home-search-selector {
    height: 56px;
    width: 135px;

    padding: 1.125rem 1rem;

    font: $font-button;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;

    background: $color-light;

    border: 0;
    border-left: 1px solid $color-primary;

    background: url("/icons/Arrow Drop Up - Filled.svg") no-repeat $color-light;
    background-position: 92.5% 50%;
    background-size: 29px;
    -webkit-appearance: none;
    cursor: pointer;

    sup {
        font-size: 1rem;
    }

    @include for-tablet {
        width: 50%;
    }

    @include for-phone {
        border: 0;
        border-top: 1px solid $color-primary;
        border-radius: 0 0 0 4px;
    }
}
</style>
