<template>
<div class="home-search">

  <AppInput
    class="home-search__input"
    placeholder="Søk på adresse ..."
  />

  <div class="home-search__part">
    <AppInput
      class="home-search__selector"
      placeholder="Bruksareal"
    />

    <AppButton
      class="home-search__button"
      text="Søk"
      @click="$modal.show('home-modal')"
    />
  </div>

</div>
</template>

<script>
import AppInput from '@/components/app/AppInput'
import AppButton from '@/components/app/AppButton'
import HomeSearchInput from '@/components/home/search/HomeSearchInput'

export default {
  components: {
    AppInput,
    AppButton,
    HomeSearchInput
  }
}
</script>

<style lang="scss" scoped>
.home-search {
    max-width: 788px;

    margin: 0 auto;

    display: flex;
    justify-content: center;

    &__part {
        display: flex;

        @include for-tablet {
            width: 50%;
        }

        @include for-phone {
            width: 100%;
        }
    }

    &__input {
        width: 504px;

        border-radius: 4px 0 0 4px;

        @include for-tablet {
            width: 70%;
        }

        @include for-phone {
            width: 100%;

            border: 0;
            border-radius: 4px 4px 0 0;
        }
    }

    &__selector {
        border: 0;
        border-radius: 0;
        border-left: 1px solid $color-primary;

        @include for-tablet {
            width: 50%;
        }

        @include for-phone {
            border: 0;
            border-top: 1px solid $color-primary;
            border-radius: 0 0 0 4px;
        }
    }

    &__button {
        width: 135px;

        border-radius: 0 4px 4px 0;

        @include for-tablet {
            width: 50%;
        }

        @include for-phone {
            border-radius: 0 0 4px 0;
        }
    }

    @include for-tablet {
        width: 100%;
        max-width: 100%;
    }

    @include for-phone {
        flex-direction: column;
    }

}
</style>
