<template>
<input
  autofocus
  class="home-search-input-meters"
  :type="type"
  :placeholder="placeholder"
  v-model="value"
  @input="$emit('input', value)"
>
</template>

<script>
export default {
  props: {
    type: {
      type: String,
      default: 'text'
    },

    placeholder: {
      type: String,
      default: 'Type something here...'
    }
  },

  data: () => ({
    value: null
  })
}
</script>

<style lang="scss" scoped>
.home-search-input-meters {
    height: 56px;

    padding: 1.125rem 1rem;

    font: $font-body;
    font-family: 'Roboto', sans-serif;
    line-height: 1.75rem;

    background: $color-light;

    box-shadow: $shadow;
    border: 2px solid $color-primary;
    border-radius: 4px;

    transition: .2s;

    &::placeholder {
        font-weight: normal;
        color: $color-secondary;
    }

}
</style>
