<template>
<div class="home-search">

  <HomeSearchInput
    class="home-search__input"
    placeholder="Søk på adresse ..."
  />

  <div class="home-search__part">

    <AppButton
      class="home-search__button"
      text="Søk"
      :disabled="!isValid"
      @click="handleClick"
    />
  </div>

  <AppModal
    :show="modal"
    @close="modal = false"
    content-style="max-width: 1120px"
  >
    <HomeModalContent />
  </AppModal>

</div>
</template>

<script>
import AppButton from '@/components/app/AppButton'
import AppModal from '@/components/app/AppModal'
import HomeSearchInput from '@/components/home/search/HomeSearchInput'
import HomeModalContent from '@/components/home/modal/HomeModalContent'

export default {
  components: {
    AppButton,
    AppModal,
    HomeSearchInput,
    HomeModalContent
  },

  data: () => ({
    modal: false
  }),

  computed: {
    isValid() {
      return this.$store.state.search.unit_use_identity && this.$store.state.search
    }
  },

  methods: {
    handleClick() {
      if (this.isValid)
        this.modal = true
    }
  }
}
</script>

<style lang="scss" scoped>
.home-search {
    max-width: 788px;

    margin: 0 auto;

    display: flex;
    justify-content: center;

    @include for-small-phone {
        align-items: center;
        flex-direction: column;
    }

    &__input {
        width: 80%;

        border-radius: 4px 0 0 4px;

        @include for-small-phone {
            border-radius: 4px;
        }
    }

    &__part {
        width: 20%;
        display: flex;

        @include for-small-phone {
            align-items: center;
            flex-direction: column;
        }
    }

    &__button {
        width: 100%;

        border-radius: 0 4px 4px 0;

        @include for-small-phone {
            border-radius: 4px;
        }
    }
}
</style>
