<template>
<div class="home-search-input">

  <input
    :class="['home-search-input__inner', { 'home-search-input__inner--active' : active }]"
    type="text"
    maxlength="200"
    :placeholder="placeholder"
    v-model="address"
    @keydown="handleInput"
  >

  <HomeSearchList
    v-if="active"
    :list="list"
    :loading="loading"
    @onSelect="handleSelect"
  />

</div>
</template>

<script>
import { debounce } from 'lodash'
import * as types from '@/store/mutation-types'

import HomeSearchList from '@/components/home/search/HomeSearchList'

export default {

  components: {
    HomeSearchList
  },

  props: {
    placeholder: {
      type: String,
      default: 'Type something here...'
    }
  },

  data: () => ({
    list: [],
    loading: false,
    active: false,
    delay: 500
  }),

  computed: {

    address: {
      get() {
        return this.$store.state.search.address
      },
      set(value) {
        this.$store.commit(`search/${types.SAVE_SEARCH_KEY}`, { key: 'address', value })
      }
    }

  },

  methods: {
    handleInput: debounce(async function() {

      this.$store.commit(`search/${types.SAVE_SEARCH_KEY}`, { key: 'unit_use_identity', value: null })

      if (!this.address) {
        this.closeDropdown()
        return
      }

      this.loading = true
      this.active = true

      const { Result } = await this.$axios.$post('/Get_Address_Suggestions', { query: this.address })

      this.list = Result
      this.loading = false

    }, 400),

    handleSelect(selected) {
      this.address = selected.search
      this.$store.commit(`search/${types.SAVE_SEARCH_KEY}`, { key: 'unit_use_identity', value: selected.id })
      this.closeDropdown()
    },

    closeDropdown() {
      this.active = false
      this.list = []
    }
  }
}
</script>

<style lang="scss" scoped>
.home-search-input {

    position: relative;

    &__inner {
        height: 56px;
        width: 100%;

        padding: 1.125rem 1rem;

        font: $font-body;
        font-family: 'Roboto', sans-serif;
        line-height: 1.75rem;

        background: $color-light;

        border: 0;
        border-radius: 4px 0 0 4px;

        &::placeholder {
            font-weight: normal;
            color: $color-secondary;
        }

        &--active {
            border-radius: 4px 0 0 0;
        }

        @include for-small-phone {
            border-radius: 4px;

            &--active {
                border-radius: 4px 4px 0 0;
            }
        }
    }

    pre {
        color: white;
    }
}
</style>
