<template>
<div class="page-home">

  <AppHeroArea
    class="page-home__hero"
    :data="hero"
    mouse
    big
  >
    <HomeSearch />
  </AppHeroArea>

  <HomeAbout />

  <HomeFeedback />

</div>
</template>

<script>
import AppHeroArea from '@/components/app/AppHeroArea'
import HomeSearch from '@/components/home/search/HomeSearch'
import HomeAbout from '@/components/home/about/HomeAbout'
import HomeFeedback from '@/components/home/HomeFeedback'

export default {
  components: {
    AppHeroArea,
    HomeSearch,
    HomeAbout,
    HomeFeedback
  },

  data: () => ({
    hero: {
      title: 'Skal du selge bolig?',
      subtitle: 'Vi anvender kunstig intelligens til å finne meglerne som sikrer deg høyeste markedspris for din bolig. Akkurat nå piloterer vi tjenesten på Grünerløkka, St. Hanshaugen og Sagene. Hvis du bor der og vil finne de beste lokale eiendomsmeglerne eller vil vite hva din eiendom er verdt, kan du søke nedenfor.',
      image: '/background/keep_in_touch.jpg'
    }
  })
}
</script>

<style lang="scss" scoped>
.page-home {

    &__hero {}
}
</style>
