<template>
<div class="page-sell-thanks">

  <AppHeroArea :data="hero">

    <div class="page-sell-thanks__slot">
      <a
        :href="`http://51.15.109.100:8000/api/v1/Get_Product?prediction_id=${link}`"
        target="_blank"
      >
        <AppButton text="Last ned rapporten" />
      </a>
    </div>

  </AppHeroArea>

  <section class="page-sell-thanks__content">
    <div class="page-sell-thanks__card">

      <img
        class="page-sell-thanks__image"
        src="/Sell home 3/Search icon.svg"
      >

      <h2 class="page-sell-thanks__title">Legg gjerne igjen en kommentar eller forlag til hvordan vi kan forbedre tjenesten.</h2>

      <AppInput
        bordered
        class="page-sell-thanks__input"
        label="Fornavn"
        v-model="form.name"
        :invalid="$v.form.name.$error"
        @blur="$v.form.name.$touch()"
      >
        <div v-if="$v.form.name.$error">
          <small v-if="!$v.form.name.required">Fornavn er påkrevd</small>

          <small v-else-if="!$v.form.name.alpha">Navnefeltet må bare inneholde alfabetiske tegn, mellomrom og bindestrek</small>

          <small v-else-if="!$v.form.name.minLength || !$v.form.name.maxLength">Navnefeltet må være minst 3 og mindre enn 60 tegn langt</small>
        </div>
      </AppInput>

      <AppInput
        bordered
        class="page-sell-thanks__input"
        label="Kommentar"
        type="textarea"
        v-model="form.comment"
        :invalid="$v.form.comment.$error"
        @blur="$v.form.comment.$touch()"
      >
        <div v-if="$v.form.comment.$error">
          <small v-if="!$v.form.comment.required">The comment field is required</small>

          <small v-else-if="!$v.form.comment.minLength || !$v.form.comment.maxLength">Kommentarfeltet må være minst 3 og mindre enn 1000 tegn langt</small>
        </div>
      </AppInput>

      <AppButton
        text="Leave comment"
        :disabled="$v.form.$invalid"
        @click="submitForm"
      />

    </div>
  </section>

</div>
</template>

<script>
import { required, minLength, maxLength, alpha } from 'vuelidate/lib/validators'

import AppButton from '@/components/app/AppButton'
import AppHeroArea from '@/components/app/AppHeroArea'
import AppInput from '@/components/app/AppInput'

export default {
  middleware({ store, redirect }) {

    if (!store.state.search.result)
      return redirect('/sell')

  },

  components: {
    AppButton,
    AppHeroArea,
    AppInput
  },

  data() {
    return {
      hero: {
        title: 'Takk for kjøpet!',
        subtitle: 'Du vil snart motta en ordrebekreftelse og rapporten på e-post. Rapporten kan også lastes ned nedenfor:',
        image: '/background/landing.jpg'
      },

      form: {
        name: null,
        comment: null
      }
    }
  },

  validations: {
    form: {
      name: {
        alpha,
        required,
        minLength: minLength(3),
        maxLength: maxLength(60)
      },
      comment: {
        required,
        minLength: minLength(3),
        maxLength: maxLength(1000)
      }
    }
  },

  watch: {

  },

  computed: {
    link() {
      return this.$store.state.search.result.prediction_id
    }
  },

  methods: {
    submitForm() {
      this.$v.form.$touch()
      if (!this.$v.form.$invalid) this.$store.dispatch('search/makeFeedback', this.form)
    }
  }
}
</script>

<style lang="scss" scoped>
.page-sell-thanks {

    &__slot {
        display: flex;
        justify-content: center;

        a {
            text-decoration: none;
        }
    }

    &__content {
        height: 100%;
        padding-bottom: 8.75rem;

        display: flex;
        justify-content: center;

        z-index: 1;
    }

    &__card {
        width: 90%;
        max-width: 788px;

        // height: 100%;

        margin-top: -5rem;
        padding: 0 7.75rem 3.5rem;

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        text-align: center;

        background: $color-light;

        border-radius: 4px;
        box-shadow: $shadow;

        z-index: 1;

        @include for-tablet {
            padding: 0 4rem 2rem;
        }

        @include for-phone {
            padding: 0 2rem 1rem;
        }

        @include for-small-phone {
            padding: 0 1rem 1rem;
        }
    }

    &__image {
        margin-top: -8rem;
        margin-bottom: 2.5rem;

        @include for-phone {
            max-height: 250px;
            width: 100%;

            margin-top: -6rem;
        }
    }

    &__title {
        margin-bottom: 4rem;
    }

    &__input {
        width: 100%;

        margin-bottom: 2rem;
    }
}
</style>
