<template>
<section class="home-about">

  <h2 class="home-about__title">Hvordan fungerer boligselgertjenesten?</h2>

  <div class="home-about__content">
    <HomeAboutCard
      v-for="(card, index) in cards"
      :key="index"
      :card="card"
    />
  </div>

  <AppButton text="Les mere her" />

</section>
</template>

<script>
import AppButton from '@/components/app/AppButton'
import HomeAboutCard from '@/components/home/about/HomeAboutCard'

export default {
  components: {
    AppButton,
    HomeAboutCard
  },

  data: () => ({
    cards: [
      { image: '/landing/illustrations-search.svg', title: 'Søk', body: 'Du søker på din adresse og vår modell lager et prisestimat på din bolig og vurderer hva hver enkel eiendomsmegler, som opererer i ditt område, vil kunne selge din bolig for.<br>Vi bruker flere hundrede variabler samt salgshistorikken til eiendomsmeglerne som grunnlag for vår intelligente løsning.'},
      { image: '/landing/illustrations-save.svg', title: 'Hva tjener du?', body: 'Du får et gratis prisestimat og du blir opplyst om forskjellen i forventet salgspris om du bruker en høytpresterende megler sammenlignet med en lavtpresterende megler; altså hvor mye du potensielt sett kan spare på riktig meglervalg for nettopp din bolig.' },
      { image: '/landing/illustrations-buy.svg', title: 'Kjøp og få tilgang', body: 'Etter en enkel transaksjon får du tilgang til listen over de 5 beste meglerne<br>slik at du vet hvem som, statistisk sett,<br>vil kunne selge din bolig til høyest pris.<br> Du får også tilgang til annen viktig innsikt om ditt boligsalg og meglernes historikk' },
    ]
  })
}
</script>

<style lang="scss" scoped>
.home-about {
    min-height: 100vh;
    width: 100%;

    padding: 10rem 2rem;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    text-align: center;

    background: $color-light;

    @include for-small-phone {
        padding: 10rem 1rem;
    }

    &__title {
        margin-bottom: 13.75rem;
    }

    &__content {
        margin-bottom: 5rem;

        display: flex;
        justify-content: space-between;

        @include for-laptop {
            max-width: $breakpoint-tablet;
        }

        @include for-tablet {
            flex-wrap: wrap;
            justify-content: center;
        }
    }
}
</style>
