<template>
<div class="layout-default">

  <AppHeader />

  <nuxt />

  <AppFooter />

  <no-ssr>
    <vue-snotify />
  </no-ssr>

  <no-ssr>
    <AppLoading :loading="loading" />
  </no-ssr>

</div>
</template>

<script>
import AppHeader from '@/components/app/AppHeader'
import AppFooter from '@/components/app/AppFooter'
import AppLoading from '@/components/app/AppLoading'

export default {
  components: {
    AppHeader,
    AppFooter,
    AppLoading
  },

  computed: {
    loading() {
      return this.$store.state.search.loading
    }
  }
}
</script>

<style lang="scss">
*,
*:after,
*:before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
</style>
