<template>
<div class="page-about">

  <AppHeroArea
    :data="hero"
    mouse
    style="background-position: 40% 50%"
  />


  <div class="container">

    <AboutCard
      v-for="(card, index) in cards"
      :data="card"
      :key="index"
    />

    <AboutPartners />

    <AboutJoin />

  </div>

</div>
</template>

<script>
import AppHeroArea from '@/components/app/AppHeroArea'
import AboutCard from '@/components/about/AboutCard'
import AboutPartners from '@/components/about/AboutPartners'
import AboutJoin from '@/components/about/AboutJoin'

export default {
  components: {
    AppHeroArea,
    AboutCard,
    AboutPartners,
    AboutJoin
  },

  data: () => ({
    hero: {
      title: 'Om oss',
      subtitle: 'HomeFair AS leverer tjenester basert på kunstig intelligens og avansert analyse til bedrifter og det private boligmarkedet. Hjemmesiden ble lansert fordi vi ønsker å øke markedstransparensen, slik at boligselgere og kjøpere står sterkere og mer informerte i deres møte med andre aktører som opererer i markedet.',
      image: '/background/about_us_AI.jpg'
    },

    cards: [{
        title: 'Vi er uavhengige',
        text: "Vi er en av få aktører som er helt uavhengige og kan derfor tilby deg tjenestene vi leverer uten at vi benytter din data til andre formål og uten at vi selger din data videre til tredjepart. Veldig få aktører på det norske boligmarkedet kan skryte av en slik garanti.",
        image: '/background/Original/omar-lopez-355586-unsplash.jpg'
      },
      {
        title: 'Hvem er vi?',
        text: "HomeFair AS ble startet opp av tre gründere Henrik Bjerke (til venstre), Tyrone Nowell (til høyre) og Walid Mustapha (midten). Vi har alle kompetanse på utvikling og spesielt på Data Science og Machine Learning. Snart blir vi flere i teamet.",
        image: '/background/Original/omar-lopez-355586-unsplash.jpg'
      },
    ]
  })
}
</script>

<style lang="scss" scoped>
.page-about {}
</style>
