<template>
<section class="about-partners">

  <h2 class="about-partners__title">Sponsorer og samarbeidspartnere</h2>

  <div class="about-partners__list">

    <a
      class="about-partners__item"
      v-for="(partner, index) in partners"
      :href="partner.link"
      target="_blank"
      :key="index"
    >
      <img :src="partner.image">
    </a>

  </div>

</section>
</template>

<script>
export default {
  data: () => ({

    partners: [
      {
        link: 'https://www.flaticon.com/free-icon/team_236842',
        image: 'https://image.flaticon.com/icons/svg/236/236842.svg'
      },
      {
        link: 'https://www.flaticon.com/free-icon/network_1208203#term=partners&page=1&position=15',
        image: 'https://image.flaticon.com/icons/svg/1208/1208203.svg'
      },
    ]

  })
}
</script>

<style lang="scss" scoped>
.about-partners {
    min-height: 567px;

    padding: 10rem 0;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    &__title {
        margin-bottom: 5rem;

        text-align: center;
    }

    &__list {
        width: 90%;
        max-width: 810px;

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    &__item {

        height: 140px;
        min-height: 110px;
        min-width: 250px;

        margin: 1rem;
        width: 30%;

        display: flex;
        justify-content: center;
        align-items: center;

        text-align: center;
        color: $color-light;

        // background: $color-secondary;

        @include for-small-phone {
            min-width: 90%;

            margin: 0;
            &:not(:last-child) {
                margin-bottom: 1rem;
            }
        }

        img {
          height: 100%;
        }
    }

}
</style>
