<template>
<section class="about-join">

  <div class="about-join__body">
    <h2 class="about-join__body-title">Vi trenger flere på laget!</h2>

    <div class="about-join__body-subtitle">
      <span>Vi er et startup selskap i rivende utvikling og søker altid nye talenter til å ta del i vår reise. Vi trenger både frontend og backend utviklere til videreutvikling av våre tjenester og vi ser også etter en hjelpende hånd til digital markedsføring. Se nedenfor for utlyste stillinger eller ta kontakt på kontakt@homefair.no. Ta også kontakt om du har en anden profil som du mener vi kan dra nytte av.</span>
    </div>
  </div>

  <div class="about-join__wrapper-content" v-if="false">
    <div class="about-join__content">

      <div
        class="about-join__block"
        v-for="(block, index) in data"
        :key="index"
      >
        <h3 class="about-join__title">{{ block.title }}</h3>

        <div
          class="about-join__position"
          v-for="(item, index2) in block.list"
          :key="`${index}-${index2}`"
        >
          <span class="about-join__text">{{ item.position.name }}</span>

          <div class="about-join__link">
            <span>Oslo</span>
          </div>
        </div>
      </div>

    </div>
  </div>

</section>
</template>


<script>
export default {
  data: () => ({

    data: [{
      title: 'Design',
      list: [
        { position: { name: 'Product designer', link: '' } },
        { position: { name: 'Product designer', link: '' } }
      ]
    }, {
      title: 'Engineering',
      list: [
        { position: { name: 'Backend Software Engineer', link: '' } },
        { position: { name: 'Data Platform Engineer', link: '' } }
      ]
    }]

  })
}
</script>


<style lang="scss" scoped>
.about-join {

    &__body {
        height: 580px;

        padding-top: 8rem;

        text-align: center;

        background: $color-body;
    }

    &__body-subtitle,
    &__body-title {
        width: 90%;
        max-width: 810px;

        margin: 0 auto;
    }

    &__body-title {
        margin-bottom: 1rem;
    }

    &__body-subtitle {
        font-family: 'Roboto', sans-serif;
        font-size: 1.5rem;
        line-height: 1.75rem;
        letter-spacing: 1px;

        @include for-phone {
            font-size: 1.25rem;
            line-height: 1.5rem;
        }

        @include for-small-phone {
            font-size: 1rem;
        }
    }

    &__wrapper-content {
        max-height: 5%;

        padding-bottom: 10rem;

        display: flex;
        justify-content: center;
    }

    &__content {
        width: 90%;
        max-width: $breakpoint-tablet;

        margin-top: -12.5rem;
        padding: 3.5rem 8.625rem;

        background: $color-light;

        border-radius: 4px;
        box-shadow: $shadow;

        @include for-tablet {
            padding: 3rem;
        }

        @include for-phone {
            padding: 2rem;
        }
    }

    &__block {
        &:not(:last-child) {
            margin-bottom: 3.25rem;
        }

        display: flex;
        flex-direction: column;
    }

    &__title {
        margin-bottom: 1rem;

        font-weight: bold;
    }

    &__position {
        width: 100%;

        padding: 0.5rem 0;

        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;

        cursor: pointer;
    }

    &__text {
        text-decoration: underline;
        letter-spacing: 1px;
    }

    &__link {
        margin-left: 1rem;

        font-weight: bold;
        color: $color-primary;
    }

}
</style>
