<template>
<div class="about-card">

  <div
    class="about-card__image"
    :style="`background-image: url('${data.image}')`"
  />

  <div class="about-card__container">
    <h3 class="about-card__title">{{ data.title }}</h3>

    <span class="about-card__text">{{ data.text }}</span>
  </div>

</div>
</template>

<script>
export default {
  props: {
    data: {
      type: Object,
      required: true
    }
  }
}
</script>

<style lang="scss" scoped>
.about-card {
    width: 100%;
    max-height: 446px;
    min-height: 446px;

    display: flex;
    justify-content: space-between;

    &:nth-child(even) {
        flex-direction: row-reverse;
    }

    @include for-tablet {
        min-height: 100%;
    }

    @include for-phone {
        // max-height: 500px;
        // min-height: 500px;

        flex-direction: column-reverse;

        &:nth-child(even) {
            flex-direction: column-reverse;
        }
    }

    &__container,
    &__image {
        width: 50%;

        @include for-phone {
            width: 100%;
        }
    }

    &__image {
        background-color: #1F1F1F;
        background-size: cover;
        background-repeat: no-repeat;

        @include for-phone {
            height: 250px;
        }
    }

    &__container {
        padding: 3rem;

        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;

        @include for-phone {
            padding: 2rem;
        }
    }

    &__title {
        width: 100%;
        max-width: 520px;

        margin-bottom: 1rem;

        text-align: left;
        font-weight: bold;
    }

    &__text {
        max-width: 520px;

        font: $font-body;
        line-height: 1.75rem;
        text-align: justify;
    }
}
</style>
