<template>
<div class="sell-about-card">

  <img
    class="sell-about-card__image"
    :src="data.image"
  >

  <div
    class="sell-about-card__text"
    v-html="data.text"
    v-if="width > 1024"
  />

  <div
    class="sell-about-card__text"
    v-html="getText"
    v-else
  />

</div>
</template>

<script>
export default {
  props: {
    data: {
      type: Object,
      required: true
    }
  },

  data: () => ({
    width: 0,
  }),

  computed: {
    getText() {
      return this.data.text.replace(/<br>/g, ' ')
    }
  },

  created() {
    if (process.client) {
      this.window = window
      window.addEventListener('resize', this.handleResize)
      this.handleResize()
    }
  },

  destroyed() {
    this.window.removeEventListener('resize', this.handleResize)
  },

  methods: {
    handleResize() {
      this.width = this.window.innerWidth
    }
  }
}
</script>

<style lang="scss" scoped>
.sell-about-card {
    width: 50%;

    padding: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    &:first-child {
        border-right: 1px solid $color-shadow;
        border-bottom: 1px solid $color-shadow;
    }

    &:nth-child(2) {
        border-bottom: 1px solid $color-shadow;
    }

    &:nth-child(3) {
        border-right: 1px solid $color-shadow;
    }

    @include for-small-phone {
        padding: 1rem 0;
    }

    @media (max-width: 500px) {
        border: 0 !important;
    }

    &__image {
        margin-bottom: 1rem;
    }

    &__text {
        line-height: 1.75rem;
    }
}
</style>
