<template>
<div
  class="sell-form"
  id="sell-form"
>

  <h2 class="sell-form__title">Bestilling</h2>

  <div class="sell-form__inputs">

    <AppInput
      bordered
      class="sell-form__input"
      label="Fornavn"
      required
      type="name"
      v-model="form.name"
      :invalid="$v.form.name.$error"
      :errors="$v.form.name"
      @blur="$v.form.name.$touch()"
    >

      <div v-if="$v.form.name.$error">
        <small v-if="!$v.form.name.required">Fornavn er påkrevd</small>

        <!--- included space and hyphens in node_modules\vuelidate\lib\validators\alpha.js -->
         <small v-else-if="!$v.form.name.alpha">Navnefeltet må bare inneholde alfabetiske tegn, mellomrom og bindestrek</small>

        <small v-else-if="!$v.form.name.minLength || !$v.form.name.maxLength">Navnefeltet må være minst 3 og mindre enn 60 tegn langt</small>
      </div>

    </AppInput>

    <AppInput
      bordered
      class="sell-form__input"
      label="Etternavn"
      required
      type="name"
      v-model="form.surname"
      :invalid="$v.form.surname.$error"
      @blur="$v.form.surname.$touch()"
    >
      <div v-if="$v.form.surname.$error">
        <small v-if="!$v.form.surname.required">Etternavn er påkrevd</small>

        <!--- included space and hyphens in node_modules\vuelidate\lib\validators\alpha.js -->
        <small v-else-if="!$v.form.surname.alpha">Navnefeltet må bare inneholde alfabetiske tegn, mellomrom og bindestrek</small>

        <small v-else-if="!$v.form.surname.minLength || !$v.form.surname.maxLength">Navnefeltet må være minst 3 og mindre enn 60 tegn langt</small>
      </div>
    </AppInput>

    <AppInput
      bordered
      class="sell-form__input"
      label="Epost"
      required
      type="email"
      v-model="form.email"
      :invalid="$v.form.email.$error"
      @blur="$v.form.email.$touch()"
    >

      <div v-if="$v.form.email.$error">
        <small v-if="!$v.form.email.required">E-postadresse er påkrevd</small>

        <small v-else-if="!$v.form.email.email">Ugyldig e-postadresse</small>
      </div>

    </AppInput>

    <AppInput
      bordered
      class="sell-form__input"
      label="Bekreft epost"
      required
      type="email"
      v-model="form.confirmEmail"
      :invalid="$v.form.confirmEmail.$error"
      @blur="$v.form.confirmEmail.$touch()"
    >
      <div v-if="$v.form.confirmEmail.$error">
        <small v-if="!$v.form.confirmEmail.required">Bekreftelse av e-postadresse er påkrevd</small>

        <small v-else-if="!$v.form.confirmEmail.sameAs">E-postadressene stemmer ikke overens med hverandre</small>
      </div>
    </AppInput>

  </div>

  <div class="sell-form__terms">
    <AppCheckbox
      class="sell-form__checkbox"
      type="checkbox"
      v-model="form.terms"
      :invalid="!form.terms"
    />

    <span class="sell-form__text">Jeg har lest <a @click="$emit('openTerms')"> betingelsene for kjøpet </a></span>
  </div>

  <AppButton
    :disabled="$v.form.$invalid || !form.terms"
    @click="submitForm"
    text="Få tilgang til din rapport"
  />

</div>
</template>

<script>
import * as types from '@/store/mutation-types'
import { required, minLength, maxLength, email, sameAs, not, numeric } from 'vuelidate/lib/validators'

import AppButton from '@/components/app/AppButton'
import AppCheckbox from '@/components/app/AppCheckbox'
import AppInput from '@/components/app/AppInput'

export default {
  components: {
    AppButton,
    AppCheckbox,
    AppInput
  },

  data: () => ({

    form: {
      name: null,
      surname: null,
      email: null,
      terms: false
    }

  }),

  validations: {
    form: {
      name: {
        required,
        alpha: value => !value.match(/[^a-zA-Z- ]/),
        minLength: minLength(3),
        maxLength: maxLength(60)
      },
      surname: {
        required,
        alpha: value => !value.match(/[^a-zA-Z- ]/),
        minLength: minLength(3),
        maxLength: maxLength(60)
      },
      email: {
        required,
        email
      },
      confirmEmail: {
        required,
        sameAs: sameAs('email')
      }
    }
  },

  methods: {
    submitForm() {
      this.$v.form.$touch()
      if (!this.$v.form.$invalid) {
        this.$store.commit(`search/${types.SAVE_SEARCH_KEY}`, { key: 'form', value: this.form })

        this.$emit('openPayment')
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.sell-form {
    max-width: $breakpoint-tablet;

    margin: 0 auto;
    padding: 5rem 1.5rem;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    @include for-small-phone {
        padding: 5rem 1rem;
    }

    &__title {
        margin-bottom: 3rem;

        text-align: center;
    }

    &__inputs {
        width: 100%;

        margin-bottom: 1.5rem;

        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;

        @media (max-width: 600px) {
            flex-direction: column;
        }
    }

    &__input {
        width: 50%;

        padding: 1rem 0.5rem;

        @media (max-width: 600px) {
            width: 100%;

            padding: 0;

            &:not(:last-child) {
                margin-bottom: 1.5rem;
            }
        }
    }

    &__terms {
        margin-top: 2rem;
        margin-bottom: 1rem;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    &__checkbox {
        margin-right: 1rem;
    }

    &__text {
        line-height: 1.125rem;

        a {
            text-decoration: underline;

            cursor: pointer;
        }
    }
}
</style>
