<template>
<section class="sell-about">

  <div class="sell-about__content">
    <div class="sell-about__cards">
      <h3>For <b>299 kr</b> får du en<br>skreddersydd rapport med:</h3>

      <div class="sell-about__list">
        <SellAboutCard
          class="sell-about__card"
          v-for="(card, index) in cards"
          :data="card"
          :key="index"
        />
      </div>
    </div>

    <div class="sell-about__download">
      <h3>Se et eksempel på en skreddersydd<br>rapport nedenfor:</h3>

      <div class="sell-about__image">
        <img src="/Sell home 2/example icon.svg">

        <div>
          <a href="/products/sample_pdf.pdf" target="_blank">BOLIGRAPPORT</a>
        </div>
      </div>
    </div>
  </div>

</section>
</template>

<script>
import SellAboutCard from '@/components/sell/SellAboutCard'

export default {
  components: {
    SellAboutCard
  },

  // props: {
  //   link: {
  //     type: String,
  //     required: true
  //   }
  // },

  data: () => ({
    cards: [
      { image: '/Sell home 2/list.svg', text: '<b>De 5 beste meglerne</b> vi fant for nettopp din bolig og hva vi estimerer de kan selge boligen for.' },
      { image: '/Sell home 2/clock.svg', text: '<b>Hvor lenge</b> de 5 beste meglerne i gjennomsnitt bruker på å selge en bolig.' },
      { image: '/Sell home 2/percent.svg', text: '<b>Hvor mye</b> de 5 beste meglerne i gjennomsnitt undervurderer salgsprisen.' },
      { image: '/Sell home 2/time graph.svg', text: '<b>Det beste tidspunktet</b>, statistisk sett, for å selge nettopp din bolig.' },
    ]
  })
}
</script>

<style lang="scss" scoped>
.sell-about {
    padding: 0 1.5rem;

    display: flex;
    align-items: center;
    justify-content: center;

    background: $color-light;

    @include for-small-phone {
        padding: 0 1rem;
    }

    &__content {
        height: 100%;
        min-height: 520px;
        max-width: $breakpoint-tablet;

        margin-top: 2rem;
        padding: 3rem 2rem 2rem;

        display: flex;
        flex-direction: row;
        justify-content: space-between;

        background: $color-light;

        border-radius: 4px;
        box-shadow: $shadow;

        z-index: 1;

        @media (min-height: 900px) {
            margin-top: -8rem;
        }

        @include for-tablet {
            flex-direction: column;
        }

        @include for-phone {
            padding: 2rem 1rem;
        }

        @media (max-width: 575px) {
            margin-top: -4rem;
        }

        @include for-small-phone {
            margin-top: 2rem;
        }

    }

    &__cards,
    &__download {
        width: 50%;

        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;

        text-align: center;

        @include for-tablet {
            width: 100%;
        }
    }

    h3 {
        margin-bottom: 2.5rem;

        font-weight: normal;
    }

    &__cards {
        @include for-tablet {
            margin-bottom: 4rem;
        }
    }

    &__card {
        @media (max-width: 500px) {
            width: 100%;
        }
    }

    &__list {
        width: 100%;

        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }

    &__download {
        img {
            margin-bottom: 1.5rem;

            @include for-phone {
                margin-bottom: 0.5rem;
            }

            @media (max-width: 500px) {
                width: 100%;
            }
        }

        div {
            margin-bottom: 1rem;

            font-weight: bold;
            text-decoration: underline;

            cursor: pointer;
        }

        a {
          color: $color-dark;
        }
    }
}
</style>
