<template>
<div class="sell-terms">

  <div class="sell-terms__content">
    <h2 class="sell-terms__title">Betingelser</h2>

    <div
      class="sell-terms__paragraph"
      v-for="(n, index) in 1"
      :key="index"
    >
      <template v-if="n == 1"><span>Følgende betingelser gjelder for salg av tjenester på www.homefair.no. Betingelsene vil sammen med din ordrebekreftelse utgjøre avtalen for kjøpet.</span></template>
      <template v-if="n == 1"><h3 class="sell-terms__subtitle"><br>1. Parter</h3><span>{{ Parter }}</span></template>
      <template v-if="n == 1"><h3 class="sell-terms__subtitle"><br>2. Bestilling og levering</h3><span>{{ Bestilling }}</span></template>
      <template v-if="n == 1"><h3 class="sell-terms__subtitle"><br>3. Priser og betaling</h3><span>{{ Priser }}</span></template>
      <template v-if="n == 1"><h3 class="sell-terms__subtitle"><br>4. Reklamasjon</h3><span>{{ Reklamasjon }}</span></template>
      <template v-if="n == 1"><h3 class="sell-terms__subtitle"><br>5. Angrerett og unntak fra angreretten</h3><span>{{ Angrerett }}</span></template>
      <template v-if="n == 1"><h3 class="sell-terms__subtitle"><br>6. Ekstraordinære forhold</h3><span>{{ Ekstraordinære }}</span></template>
      <template v-if="n == 1"><h3 class="sell-terms__subtitle"><br>7. Tilgjengelighet av eiendomsmeglere</h3><span>{{ Tilgjengelighet }}</span></template>
      <template v-if="n == 1"><h3 class="sell-terms__subtitle"><br>8. Presisjon i prisestimatene</h3><span>{{ Presisjon }}</span></template>
      <template v-if="n == 1"><h3 class="sell-terms__subtitle"><br>9. Endringer i vilkårene</h3><span>{{ Endringer }}</span></template>
      <template v-if="n == 1"><h3 class="sell-terms__subtitle"><br>10. Konfliktløsning</h3><span>{{ Konfliktløsning }}</span></template>
    </div>
  </div>

</div>
</template>

<script>
export default {
  data: () => ({
    Parter: 'Selger er HOMEFAIR AS (Adresse: Pilestredet 52, 0167 Oslo, Epost: kontakt@homefair.no, Telefon: 410 14 758, Organisasjonsnummer: 922 687 331). Selger blir videre på denne siden omtalt som Oss/Vi. Kjøper er den personen som utfører kjøpet i nettbutikken og blir heretter omtalt som Du.',
    Bestilling: 'Din bestilling er bindende når denne er registrert i Våre datasystemer. Når Vi mottar din bestilling, vil Du motta en ordrebekreftelse samt produktet på e-post og deretter videresendt til bekreftelsessiden, hvor det også er mulig å laste ned produktet. Normal leveringstid er derfor umiddelbar, med forbehold om tekniske problemer og det er ditt ansvar å sørge for at e-postadressen som blir oppgitt ved bestilling er korrekt.',
    Priser: 'Alle priser er inkludert merverdiavgift. Totalkostnaden for kjøpet vil fremkomme før bestilling og inkludere alle utgifter forbundet med kjøpet. Kjøpesummen gjøres opp på nett ved bruk av debet- eller kredittkort gjennom vår partner Stripe. Stripe er integrert i vår betalingsløsning og håndterer all sensitiv data i forbindelse med transaksjonen. Vi har derfor ikke tilgang til dine kortopplysninger på noe tidspunkt i transaksjonen.',
    Reklamasjon: 'Når Du har mottatt ordren, bør Du undersøke om leveransen er i samsvar med din ordre. Dersom det oppdages en feil eller mangel, må Du innen rimelig tid gi oss beskjed om at Du vil benytte deg av reklamasjon. Sørg også for at feilen ikke ligger på din side, ved at Du for eksempel har skrevet inn feil adresse eller annen feil informasjon i bestillingen. Melding om feil eller mangler kan gis oss både muntlig og skriftlig, men det anbefales å gjøre det skriftlig, gjerne til vår e-postadresse: kontakt@homefair.no og gjerne med ordrebekreftelsesnummeret, slik at prosessen blir forenklet for begge parter.',
    Angrerett: 'Da vårt produkt er spesiallaget utfra dine valg har Du ikke angrerett på produktet. Se mer informasjon på www.forbrukerradet.no/forside/angrer-du-pa-et-kjop. Årsaken til at Vi velger å håndheve unntaket fra angreretten er at verdien av vårt produkt er umiddelbar og forsvinner etter kunden har sett produktet.',
    Ekstraordinære: 'Vi er kun ansvarlig for tap for varen dersom det er påvist feil eller mangler. Dette gjelder likevel ikke dersom eventuelle mangler skyldes forhold utenfor vår kontroll og som vi ikke med rimelighet kunne unngått eller ventet å overvinne.',
    Tilgjengelighet: 'Vi leverer listen med de 5 beste eiendomsmeglere for nettopp din bolig. Da Vi ikke har inngått avtaler med disse, kan Vi ikke garantere at de er ledige og/eller villige til å ta oppdraget. Vi anbefaler deg derfor å kjøpe produktet i god tid før Du skal selge, slik at sannsynligheten blir større for at alle eiendomsmeglerne på listen er ledige.',
    Presisjon: 'Prisestimatene er forbundet med usikkerhet og Vi kan derfor naturligvis ikke garantere at vårt prisestimat, eller hva Vi forventer eiendomsmeglerne selger din bolig til, samsvarer med den faktiske salgsprisen.',
    Endringer: 'Vi forbeholder oss retten til å kunne endre disse vilkårene, herunder som følge av endringer i lovgivning.',
    Konfliktløsning: 'Klager rettes til selger innen rimelig tid. Partene skal forsøke å løse eventuelle tvister i minnelighet. Dersom dette ikke lykkes, kan kjøperen ta kontakt med Forbrukerrådet for mekling. Forbrukerrådet er tilgjengelig på telefon 23 40 05 00 eller www.forbrukerradet.no.'
  })
}
</script>

<style lang="scss" scoped>
.sell-terms {
    &__title {
        margin-bottom: 2rem;

        text-align: center;
    }

    &__content {
        padding: 4rem 8rem;

        background: $color-light;

        border-radius: 4px;

        @media (max-width: 900px) {
            padding: 4rem;
        }

        @include for-phone {
            padding: 4rem 2rem;
        }

        @include for-small-phone {
            width: 100%;

            padding: 2rem;

            box-shadow: none;
        }
    }

    &__paragraph {
        text-align: justify;

        margin-bottom: 1.5rem;

        font: $font-body;
        line-height: 1.75rem;
    }
}
</style>
